blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  font-size: 15px;
  border-left: 5px solid #ecf0f1;
  /*line-height: 1.4;*/
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 70%;
  line-height: 0;
  color: #b4bcc2;
}
a {
  /*color: #18bc9c;*/
  /*color: #2E86C1;*/
  color: #355681;
  /*color: rgba(53,86,129, 0.8);*/
}
/*h4 {
  color: #18bc9c;
}*/
ul.info {
  display: inline;
  font-size: 8pt;
  margin: 0;
}
ul.info li {
  display: inline;
}
ul.info li:after {
  content: '·';
  margin: 0 0.3em;
}
ul.info li:last-child:after {
  content: '';
  margin-right: 0;
}

.navbar-default {
  background: #2c3e50;
  /*background-color: #355681;*/
  /*background-color: rgba(44,62,80, .8);*/
  /*background-color: rgba(53,86,129, 0.8);*/
}
a.article:link  { color: #18bc9c; text-decoration: none; }

a.article:visited { color: #18bc9c; text-decoration: none; }

a.article:active  { color: #18bc9c; text-decoration: none; }

a.article:hover { color: #18bc9c; text-decoration: underline; }

.abstract {
  display: none;
}

.bibtex {
  display: none;
}

h3 {
  margin: 1em 0 0.5em 0;
  font-weight: normal;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  /*background: #2c3e50;*/
  /*background: #355681;*/
  background: rgba(47,65,90, .9);
  /*background: rgba(53,86,129, .9);*/
  padding: 5px 15px;
  color: white;
  border-radius: 0 10px 0 10px;
}
pre code {
  font-size: 12px;
}

.pln {
  color: #2c3e50;
}